# Binaries for programs
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with the -o flag
*.out

# Directories created by go test -c
testdir/

# External packages (usually found in vendor/ when used)
vendor/

# Environment-specific files
.env

.codecrafters
.idea
your_program.sh